<div class="row">
  <div class="col-xs-12">
    <div class="panel panel-default">
      <div class="panel-heading">
        <div class="row">
          <div class="col-xs-12">
            <div class="pull-left">
              <h2 class="m-0 p-0">Contacts</h2>
            </div>
            <span class="pull-right">
              <button class="btn btn-success">New Contact</button>
            </span>
          </div>
        </div>
      </div>
      <div class="panel-body">
        <cms-contact-item
        *ngFor="let contact of contacts"
        [contact]="contact"
        (click)="onSelected(contact)"></cms-contact-item>
      </div>
    </div>
  </div>
</div>
