<div class="row">
  <div class="col-xs-12">
    <div class="panel panel-default">
      <div class="panel-heading">
        <div class="row">
          <div class="col-xs-12">
            <div class="pull-left">
            </div>
            <h3>{{ contact.name }}</h3>
              <img [src]="contact.imageUrl" alt="{{ contact.name }}">
            <span class="pull-right">
                <a routerLink="edit"><button class="btn btn-primary m-1 detail">Edit</button></a>
                <a (click)="onDelete()"><button class="btn btn-danger m-1 detail">Delete</button></a>
            </span>
          </div>
        </div>
      </div>
      <div class="panel-body">
        <p><span class="font-weight-bold">Email: {{ contact.email }} </span></p>
        <p><span class="font-weight-bold">Phone: {{ contact.phone }}</span></p>
      </div>
    </div>
  </div>
</div>